@namespace Beauo.Components

<div class="row @Gap @Align @Justify @(Reverse ? "reverse" : "") @(Wrap ? "wrap" : "")">
	@ChildContent
</div>

@code{
	[Parameter, EditorRequired] public required RenderFragment ChildContent { get; set; }
	[Parameter] public GapClass Gap { get; set; } = GapClass.Medium;
	[Parameter] public AlignItemsClass Align { get; set; } = AlignItemsClass.Start;
	[Parameter] public JustifyContentClass Justify { get; set; } = JustifyContentClass.Start;
	[Parameter] public bool Reverse { get; set; } = false;
	[Parameter] public bool Wrap { get; set; } = false;

}