button {
    padding: var(--size-8x) var(--size-12x);
    font-weight: 500;
    color: #fff;
    background-color: #111827;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);

    &:hover {
        background-color: #374151;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.08);
    }

    &:active {
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
    }

    ::deep svg {
        height: 1lh;
    }
}
