@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    font-family: 'SF Pro Display', sans-serif !important;
    font-size: inherit;
    color: inherit;
    line-height: 1.5;
    font-size: clamp(16px, 2vw, 18px);
}

p,
label {
    display: inline-block;
}